@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif; }

.parallax-window {
  /* max-height: 260px; */
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
  height: 225px; }

.parallax-static-content {
  color: #9A9A8A;
  padding: 8em 0;
  position: relative;
  z-index: 9; }

.parallax-background {
  background: url("../images/banner-fres.jpg") repeat;
  background-position: top;
  background-color: beige;
  height: 520px;
  left: 0;
  position: absolute;
  top: -86.66667px;
  width: 100%; }

.grid-items-lines {
  position: relative; }

.grid-items-lines p {
  line-height: 1.5em; }

.grid-items-lines a {
  text-decoration: none; }

.grid-items-lines::after {
  clear: both;
  content: "";
  display: table; }

.grid-items-lines .grid-item {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: white;
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
  border-right: 1px solid rgba(51, 51, 51, 0.2);
  cursor: pointer;
  float: left;
  overflow: hidden;
  outline: none;
  padding: 1em;
  width: 100%; }

@media screen and (min-width: 53.75em) {
  .grid-items-lines .grid-item {
    height: 14em;
    width: 33.33333%;
    border-bottom: 1px solid #cacaca; } }

.grid-items-lines .grid-item:focus, .grid-items-lines .grid-item:hover {
  background: rgba(51, 51, 51, 0.05); }

.grid-items-lines .grid-item img {
  display: block;
  height: 2.5em;
  margin-bottom: 1.2em;
  opacity: 0.2; }

.grid-items-lines .grid-item i {
  color: #D6D6D6; }

.grid-items-lines .grid-item h1 {
  color: #333;
  font-size: 1.3em;
  margin-bottom: 0.4em; }

.grid-items-lines .grid-item p {
  color: rgba(51, 51, 51, 0.6); }

@media screen and (min-width: 40em) {
  .grid-items-lines .grid-item p {
    max-width: 70%; } }

@media screen and (min-width: 53.75em) {
  .grid-items-lines .grid-item-big {
    width: 66.66667%; } }

@media screen and (min-width: 40em) {
  .grid-items-lines .grid-item-big p {
    max-width: 60%; } }

.grid-items-lines .bottom-cover {
  background: white;
  bottom: 0px;
  height: 3px;
  position: absolute;
  width: 100%; }

.grid-items-lines .right-cover {
  background: white;
  height: 100%;
  position: absolute;
  right: 0px;
  width: 4px; }

.grid-items p {
  line-height: 1.5em; }

.grid-items a {
  text-decoration: none; }

.grid-items::after {
  clear: both;
  content: "";
  display: table; }

.grid-items .grid-item {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: #6b83a6;
  border-bottom: 9px solid white;
  border-left: 4.5px solid white;
  border-right: 4.5px solid white;
  border-top: 0;
  cursor: pointer;
  float: left;
  height: 14em;
  overflow: hidden;
  outline: none;
  padding: 2em;
  text-align: center;
  width: 100%; }

@media screen and (min-width: 53.75em) {
  .grid-items .grid-item {
    width: 33.33333%; } }

.grid-items .grid-item:nth-child(1) {
  background-color: #6b83a6;
  box-shadow: inset 0px 0px 1px 2px #536a8b; }

.grid-items .grid-item:nth-child(1):focus, .grid-items .grid-item:nth-child(1):hover {
  background-color: #536a8b;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover; }

.grid-items .grid-item:nth-child(2) {
  background-color: #3581A5;
  box-shadow: inset 0px 0px 1px 2px #29637e; }

.grid-items .grid-item:nth-child(2):focus, .grid-items .grid-item:nth-child(2):hover {
  background-color: #29637e;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover; }

.grid-items .grid-item:nth-child(3) {
  background-color: #5FBEBE;
  box-shadow: inset 0px 0px 1px 2px #44a6a6; }

.grid-items .grid-item:nth-child(3):focus, .grid-items .grid-item:nth-child(3):hover {
  background-color: #44a6a6;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover; }

.grid-items .grid-item:nth-child(4) {
  background-color: #98C79A;
  box-shadow: inset 0px 0px 1px 2px #77b57a; }

.grid-items .grid-item:nth-child(4):focus, .grid-items .grid-item:nth-child(4):hover {
  background-color: #77b57a;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover; }

.grid-items .grid-item:nth-child(5) {
  background-color: #A7A891;
  box-shadow: inset 0px 0px 1px 2px #909175; }

.grid-items .grid-item:nth-child(5):focus, .grid-items .grid-item:nth-child(5):hover {
  background-color: #909175;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover; }

.grid-items .grid-item:nth-child(6) {
  background-color: #BDCC97;
  box-shadow: inset 0px 0px 1px 2px #a7bb75; }

.grid-items .grid-item:nth-child(6):focus, .grid-items .grid-item:nth-child(6):hover {
  background-color: #a7bb75;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover; }

.grid-items .grid-item:nth-child(7) {
  background-color: #979EA0;
  box-shadow: inset 0px 0px 1px 2px #7c8588; }

.grid-items .grid-item:nth-child(7):focus, .grid-items .grid-item:nth-child(7):hover {
  background-color: #7c8588;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover; }

.grid-items .grid-item img {
  display: block;
  height: 3em;
  margin-bottom: 1em;
  margin: auto; }

.grid-items .grid-item i {
  display: block;
  color: white;
  font-size: 44px;
  margin: auto; }

.grid-items .grid-item h1 {
  color: white;
  font-size: 1.3em;
  margin-bottom: 0.4em; }

.grid-items .grid-item p {
  margin: auto;
  color: white; }

@media screen and (min-width: 40em) {
  .grid-items .grid-item p {
    max-width: 70%; } }

@media screen and (min-width: 53.75em) {
  .grid-items .grid-item-big {
    width: 66.66667%; } }

@media screen and (min-width: 40em) {
  .grid-items .grid-item-big p {
    max-width: 60%; } }

.grid-items .grid-item-image {
  background: url("../images/graduates-opaque.jpg");
  background-color: #6b83a6;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover; }

.grid-items .grid-item-image2 {
  background: url("../images/jump-rope-heart-opaque.jpg");
  background-color: #6b83a6;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover; }

.grid-items .grid-item-image3 {
  background: url("../images/snow-removal-opaque.jpg");
  background-color: #6b83a6;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover; }

.grid-items .grid-item-image4 {
  background: url("../images/stability-ball-classroom-opaque.jpg");
  background-color: #6b83a6;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover; }

.grid-items .grid-item-image5 {
  background: url("../images/parcc-testing-opaque.jpg");
  background-color: #6b83a6;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover; }

.grid-items .grid-item-image6 {
  background: url("../images/choice-based-economy-opaque.jpg");
  background-color: #6b83a6;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover; }

.grid-items .grid-item-image7 {
  background: url("../images/globe-es-classroom-opaque.jpg");
  background-color: #6b83a6;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover; }

.footer {
  background: #0066CC;
  padding: 3em 1.618em;
  width: 100%; }

.footer ul {
  padding: 0; }

.footer li {
  list-style: none;
  line-height: 1.5em; }

.footer a {
  text-decoration: none;
  color: #fff; }

.footer address {
  font-size: 22px;
  color: rgba(255, 255, 255, 0.81);
  font-style: initial; }

.footer address strong {
  font-size: 32px; }

.footer .footer__info-block,
.footer__info-block--two-thirds,
.footer__info-block--one-third {
  color: rgba(255, 255, 255, 0.81);
  line-height: 1.5em;
  margin: auto;
  max-width: 35em;
  margin-bottom: 1.5em; }

.footer p strong {
  font-size: 20px; }

.footer .footer__info-block p {
  max-width: initial; }

@media screen and (min-width: 71em) {
  .footer .footer__info-block {
    float: left;
    width: 20em;
    margin-right: 2%; }
  .footer .footer__info-block--two-thirds {
    float: left;
    width: 40em;
    margin-bottom: 3em;
    margin-top: 3em; }
  .footer .footer__info-block--one-third {
    float: right;
    width: 21.5em;
    margin-top: 3em; } }

.footer .footer__hcpss-logo {
  text-align: center;
  clear: both;
  margin-bottom: 3em; }

.footer .footer__hcpss-logo img {
  height: 3em; }

.footer .footer__info p {
  text-align: initial; }

.footer .footer__info {
  margin-bottom: 1.5em;
  clear: both; }

.footer .footer__links {
  margin-bottom: 1.5em; }

.footer .footer__links::after {
  clear: both;
  content: "";
  display: table; }

@media screen and (min-width: 53.75em) {
  .footer .footer__links {
    margin-left: 25.58941%; } }

.footer li {
  text-align: center; }

@media screen and (min-width: 53.75em) {
  .footer li {
    text-align: left; } }

.footer li a {
  color: white; }

.footer li a:focus, .footer li a:hover {
  color: white; }

.footer li h3 {
  color: white;
  font-size: 1em;
  font-weight: 800;
  margin-bottom: 0.4em; }

.footer hr {
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0 auto 1.5em;
  width: 12em; }

.footer p {
  color: rgba(255, 255, 255, 0.81);
  line-height: 1.5em;
  margin: auto;
  text-align: center; }

.footer-2 {
  background: #0066CC;
  padding: 1.5em;
  width: 100%;
  display: inline-block; }

.footer-2 ul {
  margin: 0;
  padding: 0;
  line-height: 1.5em; }

.footer-2 li {
  list-style: none; }

.footer-2 a {
  text-decoration: none; }

.footer-2 .footer__logo {
  margin-right: 1em;
  margin-bottom: 1em; }

@media screen and (min-width: 53.75em) {
  .footer-2 .footer__logo {
    float: left;
    margin-bottom: 0; } }

.footer-2 .footer__logo img {
  height: 1.6em; }

.footer-2 ul {
  margin-bottom: 1em; }

@media screen and (min-width: 53.75em) {
  .footer-2 ul {
    float: left;
    line-height: 1.8em;
    margin-left: 1em;
    margin-bottom: 0; } }

.footer-2 ul li {
  font-weight: 800;
  padding-right: 1em; }

@media screen and (min-width: 53.75em) {
  .footer-2 ul li {
    display: inline;
    text-align: left; } }

.footer-2 ul li a {
  color: white; }

.footer-2 ul li a:focus, .footer-2 ul li a:hover {
  color: white; }

@media screen and (min-width: 53.75em) {
  .footer-2 .footer-secondary-links {
    float: right; } }

.footer-2 .footer-secondary-links li {
  font-size: 0.8em;
  font-weight: 400;
  float: left; }

.footer-2 .footer-secondary-links ul.footer-social {
  margin-top: 1em; }

@media screen and (min-width: 53.75em) {
  .footer-2 .footer-secondary-links ul.footer-social {
    float: right;
    margin-top: 0; } }

.footer-2 .footer-secondary-links ul.footer-social li {
  font-size: 1em;
  float: left;
  line-height: 0;
  padding-right: 0.7em; }

.footer-2 .footer-secondary-links ul.footer-social li:last-child {
  padding-right: 0; }

.footer-2 .footer-secondary-links ul.footer-social img {
  height: 1.6em;
  opacity: 0.7;
  padding: 1px; }

.footer-2 .footer-secondary-links ul.footer-social img:focus, .footer-2 .footer-secondary-links ul.footer-social img:hover {
  opacity: 1; }

.footer__btn {
  text-decoration: none;
  border-color: rgba(0, 0, 0, 0.17);
  background-color: rgba(0, 0, 0, 0.17);
  border-radius: 5px;
  display: inline-block;
  font-weight: 400;
  padding: 5px; }

.footer__btn, .footer__btn:hover {
  color: #fff; }

.centered-navigation {
  background-color: #e7e7e7;
  border-bottom: 1px solid #d4e6dd;
  min-height: 60px;
  width: 100%;
  z-index: 9999; }

.centered-navigation .mobile-logo {
  display: inline;
  float: left;
  max-height: 60px;
  padding-left: 1em; }

.centered-navigation .mobile-logo img {
  max-height: 60px;
  opacity: .6;
  padding: .8em 0; }

@media screen and (min-width: 53.75em) {
  .centered-navigation .mobile-logo {
    display: none; } }

.centered-navigation .centered-navigation-mobile-menu {
  color: rgba(51, 51, 51, 0.7);
  display: block;
  float: right;
  font-weight: 700;
  line-height: 60px;
  margin: 0;
  padding-right: 1em;
  text-decoration: none;
  text-transform: uppercase; }

@media screen and (min-width: 53.75em) {
  .centered-navigation .centered-navigation-mobile-menu {
    display: none; } }

.centered-navigation .centered-navigation-mobile-menu:focus, .centered-navigation .centered-navigation-mobile-menu:hover {
  color: #333; }

.centered-navigation .centered-navigation-wrapper {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 999; }

.centered-navigation .centered-navigation-wrapper::after {
  clear: both;
  content: "";
  display: table; }

.centered-navigation .centered-navigation-wrapper::after {
  clear: both;
  content: "";
  display: table; }

.centered-navigation ul.centered-navigation-menu {
  -webkit-transform-style: preserve-3d;
  clear: both;
  display: none;
  margin: 0 auto;
  overflow: visible;
  padding: 0;
  width: 100%;
  z-index: 99999; }

#js-centered-navigation-menu.centered-navigation-menu {
  margin-top: -6px; }

.centered-navigation ul.centered-navigation-menu.show {
  display: block; }

@media screen and (min-width: 53.75em) {
  .centered-navigation ul.centered-navigation-menu {
    display: block;
    text-align: center; } }

@media screen and (min-width: 53.75em) {
  .centered-navigation .nav-link:first-child {
    margin-left: 2.2em; } }

.centered-navigation ul li.nav-link {
  /* background: #E7F1EC; */
  display: block;
  line-height: 60px;
  overflow: hidden;
  padding-right: 1em;
  text-align: right;
  width: 100%;
  z-index: 9999; }

.centered-navigation ul li.nav-link a {
  color: rgba(51, 51, 51, 0.7);
  display: inline-block;
  outline: none;
  text-decoration: none; }

.centered-navigation ul li.nav-link a:focus, .centered-navigation ul li.nav-link a:hover {
  color: #333; }

@media screen and (min-width: 53.75em) {
  .centered-navigation ul li.nav-link {
    background: transparent;
    display: inline;
    line-height: 60px; }
  .centered-navigation ul li.nav-link a {
    padding-right: 1em; } }

.centered-navigation li.logo.nav-link {
  display: none;
  line-height: 0; }

@media screen and (min-width: 53.75em) {
  .centered-navigation li.logo.nav-link {
    display: inline; } }

.centered-navigation .logo img {
  margin-bottom: -0.66667em;
  max-height: 2em;
  opacity: 0.6; }

.centered-navigation li.more.nav-link {
  padding-right: 0; }

@media screen and (min-width: 53.75em) {
  .centered-navigation li.more.nav-link {
    padding-right: 1em; } }

.centered-navigation li.more.nav-link > ul > li:first-child a {
  padding-top: 1em; }

.centered-navigation li.more.nav-link a {
  margin-right: 1em;
}

.centered-navigation li.more.nav-link > a {
  padding-right: 0.6em; }

.centered-navigation li.more.nav-link > a:after {
  position: absolute;
  top: auto;
  right: -0.4em;
  bottom: auto;
  left: auto;
  color: rgba(51, 51, 51, 0.7);
  content: "\25BE"; }

.centered-navigation li.more {
  overflow: visible;
  padding-right: 0; }

.centered-navigation li.more a {
  padding-right: 1em; }

.centered-navigation li.more > a {
  padding-right: 1.6em;
  position: relative; }

@media screen and (min-width: 53.75em) {
  .centered-navigation li.more.nav-link a {
    margin-right: 1em;
    line-height: 20px; 
  }
  .centered-navigation li.more > a {
    margin-right: 1em; } 
}

.centered-navigation li.more > a:after {
  content: "›";
  font-size: 1.2em;
  position: absolute;
  right: 0.5em; }

.centered-navigation li.more:focus > .submenu, .centered-navigation li.more:hover > .submenu {
  display: block; }

@media screen and (min-width: 53.75em) {
  .centered-navigation li.more {
    padding-right: 1em;
    position: relative; } }

.centered-navigation ul.submenu {
  display: none;
  padding-left: 0;
  background-color: white; 
}

@media screen and (min-width: 53.75em) {
  .centered-navigation ul.submenu {
    left: -1em;
    position: absolute;
    top: 1.5em;
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.2);
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    border: 1px solid #e7e7e7; 
    } 
  }

@media screen and (min-width: 53.75em) {
  .centered-navigation ul.submenu .submenu {
    left: 11.8em;
    top: 0; } }

.centered-navigation ul.submenu li {
  display: block;
  padding-right: 0; }

@media screen and (min-width: 53.75em) {
  .centered-navigation ul.submenu li {
    line-height: 10px;
    padding-top: 18px;
    background-color: white; 
  }
  .centered-navigation ul.submenu li:first-child > a {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
  .centered-navigation ul.submenu li:last-child > a {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding-bottom: .7em; } }

.centered-navigation ul.submenu li a {
  background-color: #fff;
  display: inline-block;
  text-align: right;
  text-decoration: none;
  width: 100%; }

@media screen and (min-width: 53.75em) {
  .centered-navigation ul.submenu li a {
    /* background-color: #E7F1EC; */
    padding-left: 1em;
    text-align: left;
    width: 18em; } }
    
.refills-wrapper {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding-right: 1em;
  padding-left: 1em;
  padding-bottom: 1em; }

/* line 9, /Users/Magnus/.rbenv/versions/2.1.5/lib/ruby/gems/2.1.0/gems/bourbon-4.1.1/app/assets/stylesheets/addons/_clearfix.scss */
.refills-wrapper::after {
  clear: both;
  content: "";
  display: table; }

/* line 253, /Users/Magnus/Documents/thoughtbot/refills/source/stylesheets/_refills-styles.scss */
.refills-wrapper h1.main-header {
  background-color: #82caca;
  display: inline-block;
  padding: 0.5em; }

.refill-centering {
  text-align: center; }

/* line 264, /Users/Magnus/Documents/thoughtbot/refills/source/stylesheets/_refills-styles.scss */
.refill-centering > * {
  display: inline-block; }

/* line 267, /Users/Magnus/Documents/thoughtbot/refills/source/stylesheets/_refills-styles.scss */
.refill-centering > * > * {
  text-align: left; }

/* line 272, /Users/Magnus/Documents/thoughtbot/refills/source/stylesheets/_refills-styles.scss */
.refill-centering script {
  display: none; }

/* line 277, /Users/Magnus/Documents/thoughtbot/refills/source/stylesheets/_refills-styles.scss */
.line-behind-text {
  border-bottom: 1px solid #cacaca;
  text-align: center;
  margin-bottom: 2.5em; }

/* line 283, /Users/Magnus/Documents/thoughtbot/refills/source/stylesheets/_refills-styles.scss */
.line-behind-text h6 {
  background: #fff;
  color: gray;
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-size: 1em;
  font-weight: 500;
  padding: 0 10px;
  position: relative;
  text-transform: uppercase;
  top: 34px;
  margin-top: .5em; }

/* line 296, /Users/Magnus/Documents/thoughtbot/refills/source/stylesheets/_refills-styles.scss */
.refill h6 {
  margin-bottom: 1.5em; }

.services-block .categories-list {
  float: left;
  width: 33.33333%; }

.bullets {
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 1.5em;
  margin: 1em;
  overflow: auto; }

.bullets h2 {
  margin: 0; }

.bullets li {
  list-style: none; }

.bullets p {
  color: #333;
  line-height: 1.5em; }

.bullets img {
  max-width: 100%; }

.bullets .bullet {
  -webkit-flex-basis: 20em;
  -moz-flex-basis: 20em;
  flex-basis: 20em;
  -ms-flex-preferred-size: 20em;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1; }

.bullets .bullet-icon {
  background: #477DCA;
  border-radius: 50%;
  float: left;
  height: 3.5em;
  padding: 0.875em;
  width: 3.5em; }

.bullets .bullet-icon-1 {
  background: #477DCA; }

.bullets .bullet-icon-2 {
  background: #47caaa; }

.bullets .bullet-icon-3 {
  background: #a9ca47; }

.bullets .bullet-content {
  margin-left: 4.9em;
  margin-bottom: 2em; }

.bullets h2 {
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
  display: inline-block;
  font-size: 1.4em;
  margin-bottom: 0.58333em;
  padding-top: 0.5em; }

.bullets li a {
  text-decoration: none; }

.bullets li {
  padding-bottom: 1em; }

.bullets ul {
  margin-left: 0; }

.news-message {
  border-bottom: 1px solid rgba(51, 51, 51, 0.1);
  display: table;
  margin-bottom: 1.5em;
  padding-bottom: 1em;
  width: 100%; }

.news-message .news-message-image,
.news-message .news-message-content {
  display: table-cell;
  vertical-align: top; }

.news-message .news-message-image {
  padding-right: 1.4em; }

.news-message .news-message-image > img {
  background: #D6D6D6;
  border-radius: 3px;
  display: block;
  height: auto;
  max-width: none;
  padding: 0.7em;
  width: 4em; }

.news-message-reverse-order .news-message .news-message-image {
  padding-right: 0;
  padding-left: 10px; }

.news-message .news-message-content {
  width: 100%; }

.news-message .news-message-content h1 {
  font-size: 1em;
  margin: 0 0 0.5em 0; }

.news-message .news-message-content p {
  line-height: 1.5em;
  margin-bottom: 0.5em; }

.news-message .news-message-content p.news-message-detail {
  color: rgba(51, 51, 51, 0.5);
  font-size: 0.9em;
  font-style: italic; }

/*
.c {
  @include row();
}

.primary-content {
  @include span-columns(8);
}

.sidebar {
  @include span-columns(4);
}
*/
.element-invisible {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px; }

/*# sourceMappingURL=index.css.map */
form.search-google-appliance-search-form {
  margin-top: 2em; }

.grid-item .field-name-field-event-date {
  color: rgba(51, 51, 51, 0.6); }

.footer-2 .footer-logo img.school-logo {
  height: 3.6em !important;
  margin-top: -15px; }

.footer-2 .footer-logo {
  float: left; }

.footer-2 {
  padding-bottom: 10px;
  border-bottom: 5px solid #D6D6D6; }

.school-name {
  font-size: 2.5em;
  color: white; }

.footer {
  border-top: 5px solid #D6D6D6; }

.field-name-field-coach .field-name-field-staff-first-name, .field-name-field-coach .field-name-field-staff-last-name {
  font-weight: bold; }

.view-id-athletics .view-row {
  border-top: 1px solid #E7E7E7;
  margin-top: 1em; }
